body {
	background-color: #0f1426;
	font-family: "Work Sans", Helvetica, "Times New Roman", sans-serif;
	color: #fff;
}

p {
	color: #b2b2b2;
}
/*39517f*/
/*222a59*/
#top-bar {
	background: #0f1426;
	/*height:50px;*/
	/*float:left;*/
	width:100%;
	/*box-shadow: 0 2px 6px rgba(0,0,0,0.2);*/
}
.container {
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 5%;
	/*padding-left: 50px;*/
	/*position:relative;*/
}
.content {
	/*background-color: #fff;*/
	/*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);*/
	/*border-radius: 2px;*/
	overflow: hidden;
	z-index: 9;
	/*margin-top: -120px;*/
	margin-bottom:50px;
}
img.responsive-img {
	max-width: 100%;
	height: auto;
	width: 100%;
}
img.circle {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	/*border: 7px solid black;*/
	background-clip: padding-box;
	/*margin-bottom: 10em;*/
}
i {
	vertical-align:middle;
}
.left-side p {
	font-size:14px;
	line-height:18px;
}
.left-side .block {
	margin-bottom:40px;
}
.left-side .user-img {
	width:85%;
	display:block;
	margin:0px auto;
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}
.block {
	margin-bottom:25px;
}
.right-side .block {
	margin-bottom:25px;
	margin-left:45px;
}
.right-side .block p {
	margin-top:5px;
}
.helping-text {
	margin:0px;
	color: #b2b2b2;
}
.progress {
	height: 6px;
	border-radius: 0;
	box-shadow: none;
	background: #c8c8c8;
}
.progress .progress-bar, .progress .progress-bar-default {
	background-color: #3ba8ad;
}
.progress-bar {
	box-shadow: none;
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	background-color: #3ba8ad;
	-webkit-transition: width .6s ease;
	-o-transition: width .6s ease;
	transition: width .6s ease;
}
.card .card-image img {
	z-index:0;
}
.card .card-content span.card-title {
	line-height: 48px;
	position:relative;
	padding:0px;
}
.card .card-reveal {
	padding: 16px;
	position: absolute;
	background-color: #FFF;
	top: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.card .card-reveal .card-title {
	cursor: pointer;
	display: block;
}
.card .card-image span.card-title {
	position: relative;
	padding:0px;
}
.card .card-image span.card-title i{ cursor:pointer;}

.face img {
	width: 25%;
	/*-webkit-filter: grayscale(1);*/
	filter: grayscale(1);
}

.h3 {
	margin: 0;
}

.social li{
	display: inline;
	text-align: center;
	padding: 10px;
}


.social i{
	color: #fff;
}

.social i:hover {
	color: #000;
}

/*.typed-cursor{*/
	 /*opacity: 1;*/
	 /*-webkit-animation: blink 0.7s infinite;*/
	 /*-moz-animation: blink 0.7s infinite;*/
	 /*animation: blink 0.7s infinite;*/
 /*}*/
/*@keyframes blink{*/
	/*0% { opacity:1; }*/
	/*50% { opacity:0; }*/
	/*100% { opacity:1; }*/
/*}*/
/*@-webkit-keyframes blink{*/
	/*0% { opacity:1; }*/
	/*50% { opacity:0; }*/
	/*100% { opacity:1; }*/
/*}*/
/*@-moz-keyframes blink{*/
	/*0% { opacity:1; }*/
	/*50% { opacity:0; }*/
	/*100% { opacity:1; }*/
/*}*/

.flatiron img {
	bottom: 0;
	position: fixed;
	width: 100%;
	z-index: -1;
}

a {
	color: #3ba8ad;
}
a:hover {
	color: #fff;
}

h1, h2, h3, h4, h5 {
	color: #3ba8ad;
	font-weight: 400;
}
h5 {
	font-size: 1.5em;
}

#about h5 {
	font-size: 1.5em;
}

#about p {
	text-size: 1.5em;
	color: #fff;
}

.github img{
	width: 95%;
	/*-webkit-filter: grayscale(100%);*/
	/*filter: grayscale(100%);*/
	background-color: #fff;
}

#contact p{
	font-size: 1.5em;
	line-height: 1em;
}